/* общие стили */
/*body { margin: 0 5px; font-family: Helvetica, sans-serif; font-size: 16px;  background-color: lightyellow; }*/
body { margin: 0 5px; font-family: Helvetica, sans-serif; font-size: 16px;  background-color: white; }
/*form dt { display: block; float: left; clear: left;  }
form dd { margin-left: 0;  } */
#sub1 select { font-family: Helvetica; font-size: small; }
/*h1 { font-size: 1.4em; color: #008000; font-weight: normal; }*/
/*h1 { font-size: 1.4em; color: #008000; font-weight: normal; text-shadow: 1px 1px 1px rgba(0,0,0,0.3);}*/
h1 { font-size: 1.4em; color: #AB6946; font-weight: normal; }
/* шапка */
/*#header { height: 100px;  background: #aaaaff; border: 2px solid #444444; }*/
/*#header {   background: #4F92C2; border: 0px solid #444444; }*/
#header {  height: 32px;  background: #3473a4; border: 0px solid #444444; padding-top: 6px; margin-bottom: 10px;}
#header a { color: yellow;}
#header table {width: 100%;}
#title { margin-top: 10px; margin-left: 10px; font-size: 1.4em;}
/* шапка - юзеринфо */
#logged-in-as { float: right; margin-right: 10px;}
#uname { color: #008000; }
/* шапка - путь */
#path { text-align: center; color: white;  font-size: 19px; font-family: "Arial";}
/* форма авторизации */
/*#authlogin { margin-top: 10px; }
#auth form dt { width: 100px; }
#auth2 form dt { width: 200px; }*/
#uid { border-style:  groove; border-color: #cccccc;  border-width: thin; width: 150px; }
#password { border-style:  groove; border-color: #cccccc;  border-width: thin; width: 150px; }
/* основная форма */
#start table {width: 100%;  }
/*#begin {
        color: #FFFFFF;
        background: #aaaaff;
        width:  400px;
        min-height: 400px;
        border: 2px solid #444444;
        overflow: hidden;
        text-align: left;
        margin-top: 10px;
}*/
#begin {
        color: #FFFFFF;
        background: #A9C1D2;
        width:  400px;
        min-height: 400px;
        border: 0px solid #444444;
        overflow: hidden;
        text-align: left;
        margin-top: 10px;
}
#begintd {width:  410px;}
#begin p { margin-left: 10px;  margin-top: 10px; }
#chuvsu { min-height: 400px; background: #ffffff; margin-top: 10px;  }
#chuvsu img { height: 400px; }
/* #headmessage { height: 25px;  background: #aaaaff; border: 2px solid #444444;   margin-top: 1px; color: red; font-weight: bold ; padding-left: 10px; text-align: center; } */
/*#headmessage { height: 50px;  background: #aaaaff; border: 2px solid #444444;   margin-top: 1px; color: red; font-weight: bold ; padding-left: 10px; padding-top: 15px; text-align: center; background: url(../images/april.jpg) repeat-x;}*/
/*#footer { height: 25px;  background: #aaaaff; border: 2px solid #444444;  margin-top: 30px;}*/
#headmessage { height: 2px;   border: 0px solid #444444;   margin-top: 1px; color: red; font-weight: bold ; padding-left: 10px; padding-top: 15px; text-align: center; }
/*#footer { height: 25px;  background: #4F92C2; border: 0px solid #444444; margin-top: 20px;  }*/
#footer { height: 32px;  background: #3473a4; border: 0px solid #444444; margin-top: 10px; padding-top: 15px; }
/*#footmessage { float: right; position: relative; top: -18px;}*/
#footmessage { text-align: center; color: white;  font-size: 12px; font-family: "Arial";}
#content { }
.noClose .ui-dialog-titlebar-close {display:none}

.colortext {
      color: #FF0000;
   }

.red { color: #FF0000; }
.blue { color: #0000FF; }
.yellow { color: yellow; }
.steelblue { color: steelblue; }
.gray { color: gray; }
.uname { color: #008000; }

.nicebut {    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    border-style: double;
    border-width:3px;
    font-style:  italic;
}
