/*
src: url('//lidrekon.ru/slep/fonts/Simple-Line-Icons.eot?v=2.4.0#iefix') format('embedded-opentype'),
            url('//lidrekon.ru/slep/fonts/Simple-Line-Icons.woff2?v=2.4.0') format('woff2'),
            url('//lidrekon.ru/slep/fonts/Simple-Line-Icons.ttf?v=2.4.0') format('truetype'),
            url('//lidrekon.ru/slep/fonts/Simple-Line-Icons.woff?v=2.4.0') format('woff'),
            url('//lidrekon.ru/slep/fonts/Simple-Line-Icons.svg?v=2.4.0#simple-line-icons') format('svg');
	src: url('../fonts/Simple-Line-Icons.eot?v=2.4.0');
*/            
@font-face
{
	font-family: 'simple-line-icons';
	font-style: normal;
	font-weight: normal;
        src: url('../fonts/Simple-Line-Icons.eot?v=2.4.0#iefix') format('embedded-opentype'),
            url('../fonts/Simple-Line-Icons.woff2?v=2.4.0') format('woff2'),
            url('../fonts/Simple-Line-Icons.ttf?v=2.4.0') format('truetype'),
            url('../fonts/Simple-Line-Icons.woff?v=2.4.0') format('woff');
}
html
{
	font-size: 100%;
}
.special body
{
	margin-top: 64px;
	min-width: 300px;
}
.special-settings i,.special-quit i,.special-images i,.special-audio i,i.special-audio
{
	cursor: pointer;
	font-family: 'simple-line-icons' !important;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	moz-osx-font-smoothing: grayscale;
	speak: none;
	text-transform: none;
	webkit-font-smoothing: antialiased;
}
.special-audio i:before
{
	content: "\e09f";
}
.special-settings i:before
{
	content: "\e09a";
}
.special-quit i:before
{
	content: "\e087";
}
.special-images button[value='0'] i:before
{
	content: "\e07c";
}
.special-images button[value='1'] i:before
{
	content: "\e032";
}
marquee
{
	display: none !important;
}
#special
{
	border-bottom: 1px solid gray;
	cursor: default;
	left: 0;
	line-height: 1em !important;
	padding: 8px 0;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 999999;
}
#special *
{
	font-size: 0 !important;
}
#special
{
	khtml-user-select: none;
	moz-user-select: none;
	ms-user-select: none;
	user-select: none;
	webkit-touch-callout: none;
	webkit-user-select: none;
}
#special i
{
	background: inherit !important;
	color: inherit !important;
	font-size: inherit !important;
	font-style: normal;
	font-weight: bold;
	line-height: 30px !important;
}
#special .special-panel div
{
	display: inline-block;
	margin: 0;
	margin-bottom: 5px;
	margin-left: 16px;
	padding: 0;
}
#special span,#special em
{
	font-size: 16px !important;
	vertical-align: middle;
}
#special button
{
	background: inherit;
	border: 1px solid;
	border-color: inherit;
	box-sizing: border-box;
	color: inherit;
	cursor: pointer;
	font-size: 20px !important;
	height: auto;
	line-height: normal;
	margin: 0 2px;
	min-width: 32px;
	outline: 0;
	overflow: hidden;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	vertical-align: middle;
}
#special .special-panel button
{
	height: 32px;
	line-height: 32px !important;
	padding: 0;
}
#special,#special .active
{
	border-bottom-width: 3px;
}
#special-settings-body
{
	display: none;
	padding: 0 1em;
	text-align: left;
}
#special-settings-body>div
{
	margin: 15px 15px 0;
}
#special-settings-body button
{
	margin-bottom: 5px;
}
.special-reset,.special-settings-close
{
	display: inline-block;
}
.special-settings-close
{
	float: right;
}
.special-line-height-1 *,#special .special-line-height button[value='1']
{
	line-height: normal !important;
}
.special-line-height-2 *,#special .special-line-height button[value='2']
{
	line-height: 1.75rem !important;
}
.special-line-height-3 *,#special .special-line-height button[value='3']
{
	line-height: 2rem !important;
}
.special-font-size-1 *,#special .special-font-size button[value='1']
{
	font-size: 1rem !important;
}
.special-font-size-2 *,#special .special-font-size button[value='2']
{
	font-size: 1.5rem !important;
}
.special-font-size-3 *,#special .special-font-size button[value='3']
{
	font-size: 2rem !important;
}
.special-font-family-1 *,#special .special-font-family button[value='1']
{
	font-family: Arial,sans-serif !important;
}
.special-font-family-2 *,#special .special-font-family button[value='2']
{
	font-family: Times,sans !important;
}
.special-color-1 *,#special .special-color button[value='1']
{
	background: #FFF !important;
	border-color: #000 !important;
	color: #000 !important;
}
.special-color-2 *,#special .special-color button[value='2']
{
	background: #000 !important;
	border-color: #FFF!importan;
	color: #FFF !important;
}
.special-color-3 *,#special .special-color button[value='3']
{
	background: #9dd1ff !important;
	border-color: #063462 !important;
	color: #063462 !important;
}
.special-color-4 *,#special .special-color button[value='4']
{
	background: #f7f3d6 !important;
	border-color: #59422e !important;
	color: #59422e !important;
}
.special-color-5 *,#special .special-color button[value='5']
{
	background: #3b2716 !important;
	border-color: #a9dd38 !important;
	color: #a9dd38 !important;
}
.special-letter-spacing-1 *,#special .special-letter-spacing button[value='1']
{
	letter-spacing: normal !important;
}
.special-letter-spacing-2 *,#special .special-letter-spacing button[value='2']
{
	letter-spacing: 2px !important;
}
.special-letter-spacing-3 *,#special .special-letter-spacing button[value='3']
{
	letter-spacing: 4px !important;
}
@media(max-width:940px)
{
	#special .special-panel span
	{
		display: none;
	}
}
@media(max-width:460px)
{
	.special body
	{
		margin-top: 104px;
	}
}